body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:902px;
  background:-webkit-linear-gradient(270deg, rgba(223, 227, 228, 1) 0%, rgba(223, 227, 228, 1) 0%, rgba(243, 244, 245, 1) 100%, rgba(243, 244, 245, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(223, 227, 228, 1) 0%, rgba(223, 227, 228, 1) 0%, rgba(243, 244, 245, 1) 100%, rgba(243, 244, 245, 1) 100%);
  background:linear-gradient(180deg, rgba(223, 227, 228, 1) 0%, rgba(223, 227, 228, 1) 0%, rgba(243, 244, 245, 1) 100%, rgba(243, 244, 245, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:902px;
  display:flex;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:44px;
  background:inherit;
  background-color:rgba(53, 74, 95, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:44px;
  display:flex;
}
#u1157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:7px;
  width:32px;
  height:31px;
  display:flex;
}
#u1158 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:10px;
  width:48px;
  height:24px;
  display:flex;
}
#u1160 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:11px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:16px;
  width:5px;
  height:11px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Bold', '72 Bold', '72';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:13px;
  width:221px;
  height:17px;
  display:flex;
  font-family:'72-Bold', '72 Bold', '72';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:5px;
  width:36px;
  height:39px;
  display:flex;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:5px;
  width:36px;
  height:39px;
  display:flex;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:5px;
  width:36px;
  height:39px;
  display:flex;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:5px;
  width:36px;
  height:39px;
  display:flex;
  font-family:'SAP-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
  text-align:center;
}
#u1167 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:3px;
  width:36px;
  height:35px;
  display:flex;
}
#u1168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:722px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:1440px;
  height:722px;
  display:flex;
}
#u1169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:214px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1170 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:528px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1171 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:278px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1172 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:343px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:472px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 8px rgba(0, 0, 0, 0.149019607843137);
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:1440px;
  height:44px;
  display:flex;
}
#u1176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0854A0;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:148px;
  width:75px;
  height:20px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0854A0;
}
#u1177 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:3px;
  background:inherit;
  background-color:rgba(8, 84, 160, 1);
  border:none;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:177px;
  width:38px;
  height:3px;
  display:flex;
}
#u1178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#32363A;
  text-align:left;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1440px;
  height:93px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#32363A;
  text-align:left;
}
#u1180 .text {
  position:absolute;
  align-self:flex-start;
  padding:31px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:278px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:343px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1182 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:412px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:472px;
  width:309px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:528px;
  width:287px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:214px;
  width:287px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:278px;
  width:119px;
  height:18px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:302px;
  width:177px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:343px;
  width:119px;
  height:18px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:370px;
  width:177px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:472px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:214px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1200 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:300px;
  height:23px;
  display:flex;
}
#u1201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:412px;
  width:309px;
  height:24px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:412px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#6F7275;
}
#u1203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:644px;
  width:1344px;
  height:44px;
  display:flex;
}
#u1204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515559;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:658px;
  width:146px;
  height:15px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515559;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:659px;
  width:122px;
  height:14px;
  display:flex;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515559;
  text-align:right;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:659px;
  width:143px;
  height:14px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515559;
  text-align:right;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:688px;
  width:1344px;
  height:44px;
  display:flex;
  color:#AAAAAA;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:659px;
  width:173px;
  height:14px;
  display:flex;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:612px;
  width:102px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:496px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:436px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:370px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1213 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:302px;
  width:300px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:238px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1215 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:552px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:496px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1217 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:238px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1218 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:302px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1219 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:370px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32363A;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:436px;
  width:300px;
  height:16px;
  display:flex;
  color:#32363A;
}
#u1221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:436px;
  width:135px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:496px;
  width:135px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:552px;
  width:113px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:238px;
  width:62px;
  height:16px;
  display:flex;
  font-family:'72-Regular', '72';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
